extends ../layout
block content
  .container
    .row
      h1.page-header(id ='roomName')= room.roomName
      h5#_id #{room._id+1}
    div
      textarea#chatLog.chat_log(readonly='',  style="width: 95%; height: 200px;")
    form#chat
      //- input#userName.name(type='text', readonly='', style="width: 10%;")=currentUser.userName
      if(currentUser)
        h5#userName(style="width: auto;")=currentUser.userName
      else
        h5#userName(style="width: auto;")= room.connUsers[room.connUsers.length-1].userName
      input#message.message(type='text',style="width: 70%;")
      input.chat(type='submit', value='chat', style="width: 10%;")
    br
    .row(id='userWindow')
      each user in room.connUsers
          .col-sm-6.col-md-3
            .thumbnail
              .caption
                h2(name='username')= user.userName
                span(name='win') 승: #{user.win}
                span(name='lose') / 패: #{user.lose}
                p
                  if(user.isReady == true)
                    span(name='state') 준비 완료
                  else
                    span(name='state') 대기 중
    p#firstButton
      button.btn.btn-primary(id="ready") Ready
      button.btn.btn-default(id="exit") Exit    
    p#secondButton
      button.btn.btn-primary(id="call") Call 
      button.btn.btn-default(id="half") Half 
    p#thirdButton
      button.btn.btn-primary(id="select") CardSelect
    p#cardButton
      button.btn.btn-primary(id="card1") 
      button.btn.btn-primary(id="card2")   
      button.btn.btn-primary(id="card3") 
      button.btn.btn-default(id="die") Die  
     
    
    script.
        var socket = io.connect();
        var element = document.getElementById("_id");
        var currentUserName = document.getElementById("userName").innerHTML;        
        
        $("#secondButton").hide();
        $("#thirdButton").hide();
        $("#cardButton").hide();
        
        // 연결        
        socket.emit('room_connection_send', element.innerHTML-1, currentUserName);
        socket.on('room_connection_receive', function(users){
          $("#userWindow").append($('#rowTemplate1').html());
          var name = document.getElementsByName("username");
          var win = document.getElementsByName("win");
          var lose = document.getElementsByName("lose");
          var state = document.getElementsByName("state");
          for(var i = 0; i < users.length; i++){
            name[i].innerHTML = users[i].userName;
            win[i].innerHTML = "승: " + users[i].win;
            lose[i].innerHTML = "/ 패: " + users[i].lose;
            if(users[i].isReady == true)
              state[i].innerHTML = "준비 완료";
            else
              state[i].innerHTML = "대기 중";
          }
        });
        
        // 채팅
        $('#chat').on('submit', function(e){
          socket.emit('message_send', $('#message').val());          
          $('#message').val("");
          e.preventDefault();
        });
        socket.on('message_receive', function(msg){
          $('#chatLog').append(msg+"\n");
          $('#chatLog').scrollTop($('#chatLog').innerHeight())
        });
        
        // 준비 눌렀을 때
        $('#ready').click('submit', function(e){
          socket.emit('ready_send');
        });
        socket.on('ready_receive', function(users, index){
          var state = document.getElementsByName("state");
          if(users[index].isReady == true)
            state[index].innerHTML = "준비 완료";
          else
            state[index].innerHTML = "대기 중";
        });
        
        //게임 시작후 카드 뿌려주기
        socket.on('start_game', function(cards, users){
          $("#cardButton").show();
          $("#cardButton #card3").hide();
          $("#firstButton").hide();
          $('#userWindow').empty();
          for(var i = 0; i < users.length; i++){
            $("#userWindow").append($('#rowTemplate2').html());
          }
          var name = document.getElementsByName("username");
          var money = document.getElementsByName("money");
          var userCard = document.getElementsByName("usercards");
          var currentUserName = document.getElementById("userName").innerHTML; 
          for(var i = 0; i < users.length; i++){
            name[i].innerHTML = users[i].userName; 
            if(currentUserName == users[i].userName){
              document.getElementById("card1").innerHTML = cards[2*i];
              document.getElementById("card2").innerHTML = cards[2*i+1];
            }              
            money[i].innerHTML = "금액: " + users[i].money;
          }
        });
        
        $('#card1').click('submit', function(e){
          console.log("gg");
          socket.emit('one_open_card_send', document.getElementsByName("card1"));
        });
        $('#card2').click('submit', function(e){
          socket.emit('one_open_card_send');
        });
        $('#die').click('submit', function(e){
          console.log("gg");
          socket.emit('give_up_send');
        });
        
        window.onbeforeunload = function() {
          socket.emit('leave_send');
        	return "gg";
        }
        
    script#rowTemplate1(type='text/template').
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <h2 name='username'></h2>
              <span name = 'win'></span>
              <span name = 'lose'></span>
              <p>
                  <span name='state'></span> 
              </p>
          </div>
        </div>
      </div>
      
    script#rowTemplate2(type='text/template').
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <div class="caption">
              <h2 name='username'></h2>
              <div name ='usercards'></div>
                <p>
                    <span name='money'></span> 
                </p>
            </div>
          </div>
        </div>
