extends ../layout
block content
  .container
    .row
      h1.page-header(id ='roomName')= room.roomName
      h5#_id #{room._id+1}
    div
      textarea#chatLog.chat_log(readonly='',  style="width: 95%; height: 200px;")
    form#chat
      //- input#userName.name(type='text', readonly='', style="width: 10%;")=currentUser.userName
      if(currentUser)
        h5#userName(style="width: auto;")=currentUser.userName
      else
        h5#userName(style="width: auto;") TEST
      input#message.message(type='text',style="width: 70%;")
      input.chat(type='submit', value='chat', style="width: 10%;")
    br
    .row
      each user in room.connUsers
        .col-sm-6.col-md-3
          .thumbnail
            .caption
              h2.Thumbnail= user.userName
              span 승: #{user.win}
              span / 패: #{user.lose}
              p
                if(user.isReady == true)
                  span(id='state') 준비 완료
                else
                  span(id='state') 대기 중
              p 
                button.btn.btn-primary(id="ready") ready
                //a.btn.btn-default(href="#" role="button") start    
    script.
        var socket = io.connect();
        //- var element = document.getElementById("roomName");
        var element = document.getElementById("_id");
        var currentUserName = document.getElementById("userName").innerHTML;        
                
        socket.emit('room_connection', element.innerHTML-1, currentUserName);
        //- socket.emit('room_connection', element.innerHTML-1);
        
        console.log("++++++++++++++++++++++");
        console.log(currentUserName);    
        $('#chat').on('submit', function(e){
          //- socket.emit('message_send', $('#userName').val(), $('#message').val());
          //- socket.emit('message_send', currentUserName, $('#message').val());
          socket.emit('message_send', $('#message').val());
          
          
        $('#message').val("");
          e.preventDefault();
        });
        socket.on('message_receive', function(msg){
          $('#chatLog').append(msg+"\n");
          $('#chatLog').scrollTop($('#chatLog').innerHeight())
        })
                
        //- socket.on('change name', function(name){
        //-   $('#userName').val(name);
        //- });
        
        $('#ready').click('submit', function(e){
          socket.emit('ready_send');
        });
        socket.on('ready_receive', function(data){
          element = document.getElementById("state");
          element.innerHTML = data;
        });
        
        window.onbeforeunload = function() {
          socket.emit('leave_send');
        	return "gg";
        }

        
