extends ../layout
block content
  .container
    .row
      h1.page-header(id ='roomName')= room.roomName
      h3#roomAllMoney=room.roomAllMoney
      h5#roomMoney=room.roomMoney
      h5#_id #{room._id+1}
      include ../includes/chat
    br
    h1#viewTimer= 15
    .row(id='userWindow')
      each user in room.connUsers
          .col-sm-6.col-md-3
            .thumbnail
              .caption
                h2(name='username')= user.userName
                h6(name='win') 승: #{user.win}
                h6(name='lose') / 패: #{user.lose}
                p
                  if(user.isReady == true)
                    h6(name='state') 준비 완료
                  else
                    h6(name='state') 대기 중
    #buttons   
      p#cardImforamtion
        span(id="cardImforamtion1") 
        input(type='checkbox',name="card", id="card1")
        span(id="cardImforamtion2") 
        input(type='checkbox',name="card", id="card2")
        span(id="cardImforamtion3") 
        input(type='checkbox',name="card", id="card3")
        button.btn.btn-default(id="die") Die  
      p#firstButton
        button.btn.btn-primary(id="ready") Ready
        button.btn.btn-default(id="exit") Exit          
      p#secondButton
        button.btn.btn-primary(id="call") Call 
        button.btn.btn-default(id="half") Half(따블) 
      p#thirdButton
        button.btn.btn-primary(id="firstSelect") OneCardSelect
        button.btn.btn-primary(id="finallySelect") FinallySelect 
    
    script(src='/javascripts/gameConnetion.js').      
    script#rowTemplate1(type='text/template').
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <h2 name='username'></h2>
              <h6 name = 'win'></h6>
              <h6 name = 'lose'></h6>
              <p>
                  <h6 name='state'></h6> 
              </p>
              <p>
                  <h6 name='turn'></h6> 
              </p>
          </div>
        </div>
      </div>
      
    script#rowTemplate2(type='text/template').
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <div class="caption">
              <h1 name='dieState'><h1>
                <h2 name='username'></h2>
                <h6 name ='opencard1'></h6>
                <h6 name ='opencard2'></h6>
                <h6 name ='opencard3'></h6>
                <h6 name ='currentState'></h6>
                  <p>
                      <h6 name='money'></h6> 
                  </p>
                  <p>
                      <h6 name='turn'></h6> 
                  </p>
            </div>
          </div>
        </div>
