extends ../layout
block top-nav 
block content
  .gamefield
    .row
      h5#_id #{room._id+1}
      #userID= currentUser._id
      include ../includes/chat
    .row(id='userWindow')
      each user in room.connUsers
        .col-xs-6
          h3(name='username')= user.userName
          span(name='win') 승: #{user.win}
          span(name='lose') / 패: #{user.lose}
          p
            if(user.isReady == true)
              span(name='state') 준비 완료
            else
              span(name='state') 대기 중
          img.profile.img-circle(name="userProfile" src=user.photoURL)
          img.insignia(class="insignia")
    .draw
      h1(id='roomName')= room.roomName
      img.moneypanel(src="/images/Moneyarea.png")
      h5#roomMoney='배팅 금액 : '+ room.roomMoney + '원'
      h3#roomAllMoney='총 금액 : '+ room.roomAllMoney + '원'
    .cardBundle 
    .row
      #buttons
        #viewTimer
        p#firstButton
          .parent
            img.myprofile.img-circle(src=currentUser.photoURL)
            img.myinsignia(id="myinsignia" src= '/images/insignia/' + currentUser.insignia + '.png')
          button.btn.btn-warning(id="ready") 준비
          a.btn.btn-warning(id='exit', href='/game') 나가기
        h3(id='myName')= currentUser.userName
        span(id='myWin') 승: #{currentUser.win}
        span(id='myLose') / 패: #{currentUser.lose}
    .row(id="myCardWindow")
    .row(id='bettingBar')
      button.btn.btn-warning.col-md-2(id="dadang") 따당
      button.btn.btn-primary.col-md-2(id="call") 콜
      button.btn.btn-default.col-md-2(id="half") 하프
      button.btn.btn-success.col-md-2(id="bbing") 삥
      button.btn.btn-info.col-md-2(id="check") 체크
      button.btn.btn-danger.col-md-2(id="die") 다이
    .row(id='bettingMoney')
      .parentMoney
    script(src='/javascripts/viewconnetion/flipcard.js').
    script(src='/javascripts/bettingmoney.js').
    script(src='/javascripts/viewconnetion/gameConnetion.js').    
    script(src='/javascripts/viewconnetion/drawcard.js').    
    script#initialView(type='text/template').
      <div class = "col-xs-6">
        <h3 name='username' class='userName'></h3>
        <span name='win' class='win'></span>
        <span name='lose' class='lose'></span>
        <p>
            <span name='state' class='state'></span>
        </p> 
        <div class='parent'>
          <img class="profile img-circle", name="userProfile"/>
        </div>
        <div class='parent'>
          <img class="insignia", name="insignia" />
        </div>
        <h4 class='moneyBar'></h4>
        <button id=select1 onclick=select1()>
          <img class='card1'>
          <img class='card2'>
      </div>
    script#gameView(type='text/template').
      <div class = "col-xs-6">
        <h3 name='username' class='userName'></h3>
        <div class='parent'>
          <img class="profile img-circle" name= "userProfile"/>
        </div>
        <div class='parent'>
          <img class="insignia", name="insignia" />
        </div>
        <h1 class='playerdie'></h1>
        <h1 class='playerBettingState'></h1>
        <img class="turn"/>
        <h4 class='moneyBar'></h4>
      </div>
    script#publicViewCard(type='text/template').
      <div class = "draw">
          <img class="cards"  src="/images/Card-S.png">
          <img class="cards"  src="/images/Card-S.png">
        </div> 
    script#publicViewLastCard(type='text/template').
      <div class = "draw">
          <img class="lastCards"  src="/images/Card-S.png">
        </div>
    script#privateViewCard(type='text/template').
      <div class= "col xs 4">
        <img class= "mycards" id='cardImforamtion1' onclick="firstCardSelect1()">
        <img class= "mycards" id='cardImforamtion2' onclick="firstCardSelect2()">
      </div>
    script#privateViewLastCard(type='text/template').
      <div class= "col xs 4">
        <img class= "mycards" id='cardImforamtion1'>
        <img class= "mycards" id='cardImforamtion2'>
        <img class= "mycards" id='cardImforamtion3'>
      </div>
    script#privateViewCardSelect(type='text/template').
      <div class= "col xs 4">
        <button id=select1 onclick=select1()>
          <img class='card1'>
          <img class='card2'>
        </button>
        <button id=select2 onclick=select2()>
          <img class='card1'>
          <img class='card3'>
        </button>
        <button id=select3 onclick=select3()>
          <img class='card2'>
          <img class='card3'>
        </button>
      </div>
    script#bettingMoneyView1(type='text/template').
      <img class="bettingMoney1" src= '/images/moneys.png'/>
    script#bettingMoneyView2(type='text/template').
      <img class="bettingMoney2" src= '/images/moneys.png'/>
    script#bettingMoneyView3(type='text/template').
      <img class="bettingMoney3" src= '/images/moneys.png'/>
    script#bettingMoneyView4(type='text/template').
      <img class="bettingMoney4" src= '/images/moneys.png'/>


      