extends ../layout
block content
  .container
    .row
      h1.page-header(id ='roomName')= room.roomName
      h3#roomAllMoney=room.roomAllMoney
      h5#roomMoney=room.roomMoney
      h5#_id #{room._id+1}
      include ../includes/chat
    br
    h1#viewTimer= room.timer
    .row(id='userWindow')
      each user in room.connUsers
          .col-sm-6.col-md-3
            .thumbnail
              .caption
                h2(name='username')= user.userName
                span(name='win') 승: #{user.win}
                span(name='lose') / 패: #{user.lose}
                p
                  if(user.isReady == true)
                    span(name='state') 준비 완료
                  else
                    span(name='state') 대기 중
    #buttons   
      p#cardImforamtion
        span(id="cardImforamtion1") 
        input(type='checkbox',name="card", id="card1")
        span(id="cardImforamtion2") 
        input(type='checkbox',name="card", id="card2")
        span(id="cardImforamtion3") 
        input(type='checkbox',name="card", id="card3")
      p#firstButton
        button.btn.btn-primary(id="ready") Ready
        button.btn.btn-default(id="exit") Exit          
      p#secondButton
        button.btn.btn-primary(id="call") Call 
        button.btn.btn-default(id="half") Half(따블) 
      p#thirdButton
        button.btn.btn-primary(id="firstSelect") OneCardSelect
        button.btn.btn-primary(id="finallySelect") FinallySelect
        button.btn.btn-default(id="die") Die   
    
    script(src='/javascripts/gameConnetion.js').      
    script#rowTemplate1(type='text/template').
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <h2 name='username'></h2>
              <span name = 'win'></span>
              <span name = 'lose'></span>
              <p>
                  <span name='state'></span> 
              </p>
              <p>
                  <span name='turn'></span> 
              </p>
          </div>
        </div>
      </div>
      
    script#rowTemplate2(type='text/template').
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <div class="caption">
              <h1 name='dieState'><h1>
                <h2 name='username'></h2>
                <div name ='opencard1'>카드</div>
                <div name ='opencard2'>카드</div>
                <div name ='opencard3'>카드</div>
                <div name ='currentState'></div>
                  <p>
                      <span name='money'></span> 
                  </p>
                  <p>
                      <span name='turn'></span> 
                  </p>
            </div>
          </div>
        </div>
