extends ../layout
block content
    .container
      h1.page-header
      include ../includes/chat 
      br
      form(action='/game/create', method='get')
        input(type='submit', value='방만들기')
      br
      br
      .row
      .main
        each room in rooms
          .w3_agile_main_grids
            .agile_main_grid
              .agileits_w3layouts_main_grid_left
                .wthree_main_grid.agileinfo_main_grid
                  .w3ls_main_grid
                    .agileits_main_grid_left
                     h2= room.roomName
                    .clear  
                  .w3l_main_grid_list
                    ul#owl-demo3.owl-carousel.owl-theme
                        li 
                          h3=room.state
                    ul#owl-demo.owl-carousel.owl-theme
                      li 
                        h3 배팅액 : #{room.roomMoney}
                    ul#owl-demo3.owl-carousel.owl-theme
                      li 
                        h3 참가인원 : #{room.connUsers.length}명 / #{room.roomUserNumber}명
                    ul#owl-demo3.owl-carousel.owl-theme
                      each user in room.connUsers
                        li 
                          .w3layouts_icon
                            img.w3_img_responsive(src='#{user.photoURL}', alt=' ')
                  //- .clear
                  br
                  .agileits_main_grid
                      form(action='/game/#{room._id}', method='get')
                        input(type='submit', value='입장')
                  
    audio(src="/video/waitingroom.mp3" autoplay loop)

    script(src='/javascripts/viewconnetion/waitingroomconnetion.js').    
