extends ../layout

block content
  .gamefield
    .row
      h5#_id #{room._id+1}
      include ../includes/chat
    .row(id='userWindow')
      each user in room.connUsers
        .col-xs-6
          h3(name='username')= user.userName
          span(name='win') 승: #{user.win}
          span(name='lose') / 패: #{user.lose}
          p
            if(user.isReady == true)
              span(name='state') 준비 완료
            else
              span(name='state') 대기 중     
          img.profile.img-circle(name="userProfile" src=user.photoURL)
    .draw
      img.moneypanel(src="/images/Moneyarea.png")
      h5#roomMoney='배팅 금액 : '+room.roomMoney+'원'
      h3#roomAllMoney='총 금액 : '+room.roomAllMoney +'원'
    .row
      #buttons
        h1(id='roomName')= room.roomName
        #viewTimer
        p#firstButton
          if(currentUser)
            img.myprofile(src=currentUser.photoURL)
          else
            img.myprofile(src=room.connUsers[room.connUsers.length-1].photoURL)
          button.btn(id="ready")
          button.btn(id="exit")
    .row
      .col.xs.4
        img.mycards(id='cardImforamtion1')
        img.mycards(id='cardImforamtion2')
        img.mycards(id='cardImforamtion3')
    .row(id='bettingBar')
      button.btn.btn-warning.col-md-2(id="dadang") 따당
      button.btn.btn-primary.col-md-2(id="call") 콜
      button.btn.btn-default.col-md-2(id="half") 하프
      button.btn.btn-success.col-md-2(id="bbing") 삥
      button.btn.btn-info.col-md-2(id="check") 체크
      button.btn.btn-danger.col-md-2(id="die") 다이

    script(type='text/javascript', src='/javascripts/flipcard.js').
    script(src='/javascripts/gameConnetion.js').    
    script#rowTemplate1(type='text/template').
      <div class = "col-xs-6">
        <h3 name='username' ></h3>
        <span name='win'></span>
        <span name='lose'></span>
        <p>
            <span name='state'></span>
        </p> 
        <img class="profile" class="img-circle", name="userProfile"/>
      </div>

    script#rowTemplate2(type='text/template').
      <div class = "draw">
         <img class="cards"  src="/images/Card-S.png">
         <img class="cards"  src="/images/Card-S.png">
       </div> 
    script#rowTemplate3(type='text/template').
      <div class = "col-xs-6">
        <h3 name='username' ></h3>
        <img class="profile" class="img-circle" name= "userProfile"/>
        <h3 class='playerdie'></h3>
        <h5 class='playerBettingState'></h5>
        <img class="turn"/>
        <h4 class='moneyBar'></h4>
      </div>
    script#rowTemplate4(type='text/template').
      <div class = "draw">
         <img class="lastCards"  src="/images/Card-S1.png">
       </div>
       
  style.
    .moneyBar {
      background: url('/images/nameBar.png');
      background-repeat: no-repeat;
      background-position:center center;
      position:absolute;
      width:100%;
      height:100%;
      top:52%;
      left:-1%;
    }
    .col-xs-6:nth-child(1) .turn{
      position:absolute;
      top: 5% ;
      left: 122%;
      width: 25%;
      height: 25%;
    }
    .col-xs-6:nth-child(2) .turn{
      position:absolute;
      top: 5% ;
      left: 122%;
      width: 25%;
      height: 25%;
    }
    .col-xs-6:nth-child(3) .turn{
      position:absolute;
      top: 5% ;
      right: 122%;
      width: 25%;
      height: 25%;
    }
    .col-xs-6:nth-child(4) .turn{
      position:absolute;
      top: 5% ;
      right: 122%;
      width: 25%;
      height: 25%;
    }
    .col-xs-6:nth-child(1) .playerdie{
      position:absolute;
      top: 60% ;
      left: 110%;
    }
    .col-xs-6:nth-child(2) .playerdie{
      position:absolute;
      top: 60% ;
      left: 110%;
    }
    .col-xs-6:nth-child(3) .playerdie{
      position:absolute;
      top: 60% ;
      right: 110%;
    }
    .col-xs-6:nth-child(4) .playerdie{
      position:absolute;
      top: 60% ;
      right: 110%;
    }
    .col-xs-6:nth-child(1) .playerBettingState{
      position:absolute;
      top: 60% ;
      left: 120%;
    }
    .col-xs-6:nth-child(2) .playerBettingState{
      position:absolute;
      top: 60% ;
      left: 120%;
    }
    .col-xs-6:nth-child(3) .playerBettingState{
      position:absolute;
      top: 60% ;
      right: 120%;
    }
    .col-xs-6:nth-child(4) .playerBettingState{
      position:absolute;
      top: 60% ;
      right: 120%;
    }
    #bettingBar{
      top:200%;
      position:sticky;
    }
    #dadang{
      width:15%;
      height:25%;
    }
    #call{
      width:15%;
      height:25%;
    }
    
    #half{
      width:15%;
      height:25%;
    }
    
    #bbing{
      width:15%;
      height:25%;
    }
    #check{
      width:15%;
      height:25%;
    }
    #die{
      width:15%;
      height:25%;
    }
    .row{
      margin-right: 0px;
      margin-left: 0px;
      color: white;
    }
     #roomMoney{
      left : 35%;
      bottom : -60%;
      position:relative;
      text-align: left;
      color: white;
    }
    #roomAllMoney{
      right : 13%;
      bottom : -38%;
      position:relative;
      color: white;
      text-align: right;
    }
    #ready{
      position:absolute;
      left:60%;
      top:9%;
      width:30%;
      height:30%;
      background: url('/images/button/ready.png');
      background-repeat: no-repeat;
      background-position:center center;
    }
    #exit{
      position:absolute;
      left:60%;
      top:40%;
      width:30%;
      height:30%;
      background: url('/images/button/exit.png');
      background-repeat: no-repeat;
      background-position:center center;
    }
    #buttons h1{
      position: absolute;
      top : 60%;
      left: 3%;
      color: white;
    }
    .myprofile{
      position:absolute;
      left:3%;
      top:10%;
      width:30%;
      height:60%;
    }
    .navbar{
      display: none;
    }
    #firstButton {
      position: absolute;
      width: 25%;
      height: 25%;
      bottom : 7%;
      left: 1%;
      background: url('/images/Butttonarea.png');
      background-repeat: no-repeat;
      background-size:auto;
    }
    .row .container {
      position: absolute;
      bottom : 10%;
      right: 8%;
      width: 200px;
      color: black;
    }
    .col-xs-6:nth-child(1) {
      background: url('/images/Profilearea.png');
      background-position:center center;
      background-repeat: no-repeat;
      background-size:cover;
      position: absolute;
      top: 1%;
      left: 68%;
      padding-top:0px;
      padding-left:0px;
      padding-right:0px;
      width: 20%;
      height: 20%;
    }
    
    .col-xs-6:nth-child(1) .profile {
      position: absolute;
      top: 10% ;
      left: 110%;
      width: 50%;
      height: 50%;
    }
    .col-xs-6:nth-child(1) #win{
      position: relative;
      left: 2%;
    }
    .col-xs-6:nth-child(1) h3{
      position: relative;
      left: 2%;
      width:95%;
    }
    .col-xs-6:nth-child(2) {
      background: url('/images/Profilearea.png');
      background-repeat: no-repeat;
      background-position:center center;
      background-size:cover;
      left: 68%;
      top: 30%;
      position: absolute;
      padding-left:0px;
      padding-right:0px;
      width: 20%;
      height: 20%;
    }
    .col-xs-6:nth-child(2) .profile {
      position: absolute;
      top: 10% ;
      left: 110%;
      width: 50%;
      height: 50%;
    }
    .col-xs-6:nth-child(2) #win{
      position: relative;
      left: 2%;
    }
    .col-xs-6:nth-child(2) h3{
      position: relative;
      left: 2%;
      width:95%;
    }
    .col-xs-6:nth-child(3) {
      background: url('/images/Profilearea.png');
      background-repeat: no-repeat;
      background-position:center center;
      background-size:cover;
      position: absolute;
      top: 30%;
      right: 68%;
      padding-left:0px;
      padding-right:0px;
      width: 20%;
      height: 20%;
    }
    
    .col-xs-6:nth-child(3) .profile {
      position: absolute;
      top: 10% ;
      right: 110%;
      width: 50%;
      height: 50%;
    }
    .col-xs-6:nth-child(3) #win{
      position: relative;
      left: 2%;
    }
    .col-xs-6:nth-child(3) h3{
      position: relative;
      left: 2%;
      width:95%;
    }
    .col-xs-6:nth-child(4) {
      background: url('/images/Profilearea.png');
      background-repeat: no-repeat;
      background-position:center center;
      background-size:cover;
      top: 1%;
      position: absolute;
      right: 68%;
      padding-left:0px;
      padding-right:0px;
      width: 20%;
      height: 20%;
    }
    
    .col-xs-6:nth-child(4) .profile {
      position: absolute;
      top: 10% ;
      right: 110%;
      width: 50%;
      height: 50%;
    }
    .col-xs-6:nth-child(4) #win{
      position: relative;
      left: 2%;
    }
    .col-xs-6:nth-child(4) h3{
      position: relative;
      left: 2%;
      width:95%;
    }
    
    .gamefield {
      width: 100%;
      height: 100%;
      background-color: #0B610B;
      background-repeat: no-repeat;
      position: absolute;
    }
    
    .cardarea{
      position: absolute;
      width:25%;
      height:25%;
    }
    
    .image-selected{
      top : 65% !important;
    }
    .draw {
      position: absolute;
      height: 50%;
      width: 50%;
      top: 0%;
      left: 20%;
    }
    .cards {
      position: absolute;
      left : 50%;
      bottom : 40%;
      height: 35%;
      width: 11%;
    }
    .lastCards {
      position: absolute;
      left : 50%;
      bottom : 40%;
      height: 35%;
      width: 11%;
    }
    .moneypanel {
      position: absolute;
      height: 100%;
      width: 60%;
      left : 30.5%;
      bottom : -10%;
    }
    .mycards {
      position: absolute;
      left : 37%;
      top : 70%;
      height: 25%;
      width: 8%;
      display:none;
    }
    @media all and (min-width: 360px) and (max-width: 640px){
      h3{
        font-size: 8px;
      }
      h5{
        font-size: 7px;
      }
      h3{
        font-size: 8px;
      }
      .gamefield {
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
        width: 640px;
        height: 360px;
        top: 140px;
        left: -140px;
        background: url('/images/BG.png');
        background-repeat: no-repeat;
        position: absolute;
        background-position:center center;
        background-size:contain;
      }
      #buttons {
        position: absolute;
        width: 25%;
        height: 25%;
        bottom : 5%;
        left: 1%;
        background: url('/images/Butttonarea.png');
        background-repeat: no-repeat;
        background-size:auto;
      }
      #roomMoney{
        left : 35%;
        bottom :-60%;
        position:relative;
        text-align: left;
        color: white;
      }
      #roomAllMoney{
        right : 13%;
        bottom : -38%;
        position:relative;
        color: white;
        text-align: right;
      }
      .image-selected{
        position: absolute;
        //- left : 37%;
        //- top : 70%;
        //- height: 30%;
        //- width: 10%;
        left : 37%;
        top : 65%;
        width: 8%;
        display: none;
      }
      .mycards {
        position: absolute;
        left : 37%;
        top : 70%;
        height: 25%;
        width: 8%;
        display: none;
      }
      .col-xs-6:nth-child(1) {
        position: absolute;
        top: 1%;
        left: 70%;
        width: 100px;
        font-size: 1em;
      }
      .col-xs-6:nth-child(2) {
        left: 70%;
        top: 30%;
        position: absolute;
        width: 100px;
      }
      .col-xs-6:nth-child(3) {
        position: absolute;
        top: 30%;
        right: 70%;
        width: 100px;
      }
      .col-xs-6:nth-child(4) {
        top: 1%;
        position: absolute;
        right: 70%;
        width: 100px;
      }
      .row .container {
        position: absolute;
        bottom : 2.5%;
        left: 84%;
        width: 100px;
        font-size: 0.2em;
      }
      .profile {
        height: 50%;
        width: 50%;
      }
    }
    
