extends ../layout
block content
    .container
      h1.page-header Room List
      br
      .row
      .main
        each room in rooms
          .w3_agile_main_grids
            .agile_main_grid
              .agileits_w3layouts_main_grid_left
                .wthree_main_grid.agileinfo_main_grid
                  .w3ls_main_grid
                    .agileits_main_grid_left
                      .agileits_main_grid_leftl
                        h3
                          | 방제목
                      .agileits_main_grid_leftr
                        h3= room.roomName
                      .clear  
                    //- .agileits_main_grid_right
                    .agileits_main_grid
                      form(action='/game/#{room._id}', method='get')
                        input(type='submit', value='입장')
                    .clear  
                  .w3l_main_grid_list
                    ul#owl-demo.owl-carousel.owl-theme
                      li 
                        h2 배팅액 : #{room.roomMoney}
                    ul#owl-demo3.owl-carousel.owl-theme
                      li 
                        h2 참가인원 : #{room.connUsers.length}명/4명
                    ul#owl-demo3.owl-carousel.owl-theme
                      li 
                        h2=room.state
                    ul#owl-demo3.owl-carousel.owl-theme
                      li 
                        h2 참가자 : 
                      li 
                        .w3layouts_icon
                          img.w3_img_responsive(src='/stylesheets/images/image1.png', alt=' ')
                      li 
                        .w3layouts_icon
                          img.w3_img_responsive(src='/stylesheets/images/image1.png', alt=' ')
                      li 
                        .w3layouts_icon
                          img.w3_img_responsive(src='/stylesheets/images/image1.png', alt=' ')
    form(action='/game/create', method='get')
      input(type='submit', value='방만들기')
